{% extends 'layouts/layout.html' %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- Example row of columns -->
<div class="row">
    <div class="col-md-8">
        <h2>New Post</h2>
        <hr>
        {% for post in posts %}
            <div class="posts">
                <a href="/posts/{{post.id}}" role="button"><h3>{{ post.title }} </h3></a>
                <a href="/posts/{{post.id}}" class="thumbnail">
                    <img src="/static/uploads/{{post.image_path}}" alt="">
                </a>
                <span>{{ post.updated_at }}</span>
                <span class="label label-primary">{{ post.category }}</span>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Category</h3>
        </div>
        <div class="panel-body">
            <a href="/posts?category=tech"><span class="label label-default">Technology</span></a>
            <a href="/posts?category=finance"><span class="label label-default">Finance</span></a>
            <a href="/posts?category=society"><span class="label label-default">Society</span></a>
            <a href="/posts?category=politics"><span class="label label-default">Politics</span></a>
            <a href="/posts?category=sport"><span class="label label-default">Sport</span></a>
            <a href="/posts?category=play"><span class="label label-default">Play</span></a>
        </div>
    </div>
</div>
{% endblock %}
