{% extends 'layouts/layout.html' %}

{% block content %}
<h1>User Login</h1>
<hr>
<form action="/login" method="POST">
    <div>
        {{ form.csrf_token }}
        <label for="">Email</label>
        <input class="form-control" type="email" name="email" placeholder="User Email">
        <label for="">Password</label>
        <input class="form-control" type="password" name="password" placeholder="User Password">
        <hr>
        <button class="btn btn-primary btn-block" type="submit">User Login</button>
    </div>
</form>
{% endblock %}
