{% extends 'layouts/layout.html' %}

{% block content %}
<h1>User Signup</h1>
<hr>
<form action="/signup" method="POST">
    <div>
        {{ form.csrf_token }}
        <label for="">User Email</label>
        <input class="form-control" type="email" name="email" placeholder="User Email">
        <label for="">User Name</label>
        <input class="form-control" type="text" name="username" placeholder="User Name">
        <label for="">User Password</label>
        <input class="form-control" type="password" name="password" placeholder="User Password">
        <hr>
        <button class="btn btn-primary btn-block" type="submit">Signup</button>
    </div>
</form>
{% endblock %}
