{% extends 'layouts/layout.html' %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<!-- Example row of columns -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li class="active">{{ post.title }}</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="posts">
            <h2>{{ post.title }}</h2>
            <hr>
            <a href="#" class="thumbnail">
                <img src="/static/uploads/{{post.image_path}}" alt="">
            </a>
            <p>{{ post.content }}</p>
            <hr>
            {% if current_user.is_authenticated %}
                <div class="editor-block">
                    <a href="/posts/{{post.id}}/update" role="button"><button class="btn btn-warning">Edit </button></a>
                    <form method="POST" action="/posts/{{post.id}}/delete">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
                <hr>
            {% endif %}
        </div>
    </div>
</div>
<hr>
{% endblock %}
